@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@100..800&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@100..800&family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/* hero section  */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Gowun+Batang:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sofadi+One&display=swap');


.heroSection {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.stroke{
    
    /* -webkit-text-stroke-color: transparent; */
    -webkit-text-stroke-width:1px;
    -webkit-text-fill-color: transparent;
    /* -webkit-background-clip: text; */
}

.heading1{
  /* font-size: 80px; */
  font-weight: 600;
  background: linear-gradient(to right, #ff3333, #ffe600);
  background-size: 200% auto;
  -webkit-background-clip: text;
  color: transparent;
    animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0%{
    background-position: 0% 75%;
  }
  50%{
    background-position: 100% 30%;
  }
  100%{
    background-position: 0% 70%;
  }
  
}

.logo {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.navbar {

  
  font-family: "Sofadi One", serif;
  font-weight: 400;
  font-style: normal;
}
.card {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.section0 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.section0Header {
    font-family: "Gowun Batang", serif;
  font-weight: 800;
  font-style: normal;
}

.projects{
    font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}


.btn41-43 {
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  padding: 10px 50px;
  margin: 10px;
  font-weight: 700;
  
}

.btn-41 {
  border: 2px solid rgb(255, 0, 0);
  z-index: 1;
  color: rgb(255, 0, 0);
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 0, 0);
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(255, 255, 255);
  
  
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;

}



.imgAnimation{
  animation-name: imgAnimate ;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transition: all .3s;
}

@keyframes imgAnimate {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-10px);
  }100%{
    transform: translateY(0px);
  }
}